body {
  background-color: #141414;
  margin: 0;
}
.corpo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
  background-color: #141414;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  border: 4px solid  blue;
  margin-right: 10px;
}

#score {
  color: #fff;
  font-size: 20px;
  width: 90px;
  max-width: 90px;
}

.game-container {
  display: grid;
  position: relative;
  width: 305px;
  max-width: 305px;
  height: 305px;
  max-height: 305px;
  border: 1px solid #fff;
  background-color: #000;
}

.snake {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: rgb(233, 31, 31);
  left: 150px;
  top: 150px; 
}

.cauda {
  background-color: rgb(233, 31, 31);
  position: absolute;
  width: 13px;
  height: 13px;
}

.food {
  position: absolute;
  border: 2px;
  width: 13px;
  height: 13px;
  background-color: yellow;
}

/* Responsivo para até 768px */
@media (max-width: 768px) {
  .game-container {
    margin: 5px;
    margin-left: 20px; 
  }

  .snake, .cauda, .food {
    width: 10px; 
    height: 10px; 
  }


}

@media (max-width: 768px) {
  #score {
    text-align: center;
  }
}
